In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('E:\\term8\\datamining\\HW\\project\\healthcare-dataset-stroke-data.csv')
df = df[df.age > 18]
df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [3]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  180
smoking_status         0
stroke                 0
dtype: int64

In [4]:
df1 = df
df1 = pd.get_dummies(df1, columns = ['work_type','smoking_status','gender','ever_married','Residence_type'])
df1 = df1.drop(columns = ['id'])
df1.age = (df1.age - df1.age.mean())/df1.age.std()
df1.avg_glucose_level = (df1.avg_glucose_level - df1.avg_glucose_level.mean())/df1.avg_glucose_level.std()
df_bmi_na = df1[df1.bmi.isnull()]
df1 = df1.dropna()
df1

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,...,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban
0,0.931846,0,1,2.500974,36.6,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,1
2,1.673346,0,1,-0.056516,32.5,1,0,0,1,0,...,0,1,0,0,1,0,0,1,1,0
3,-0.094846,0,0,1.303993,34.4,1,0,0,1,0,...,0,0,1,1,0,0,0,1,0,1
4,1.616307,1,0,1.364196,24.0,1,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
5,1.730384,0,0,1.616050,29.0,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5102,0.361461,0,0,-0.639591,21.7,0,0,0,1,0,...,0,1,0,1,0,0,0,1,1,0
5106,1.730384,0,0,0.345117,40.0,0,0,0,0,1,...,0,1,0,1,0,0,0,1,0,1
5107,-0.893385,0,0,-0.534184,30.6,0,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
5108,0.019230,0,0,1.201085,25.6,0,0,0,1,0,...,1,0,0,0,1,0,0,1,1,0
5109,-0.380039,0,0,-0.486479,26.2,0,1,0,0,0,...,0,0,0,1,0,0,0,1,0,1

In [5]:
from sklearn.model_selection import train_test_split
import random
df_train, df_test = train_test_split(df1, test_size = 0.2, random_state = 45)
ds_train = df_train.values
ds_test = df_test.values
X = np.concatenate((ds_train[:,0:4],ds_train[:,5:20]),axis = 1)
y = ds_train[:,4]
X_test = np.concatenate((ds_test[:,0:4],ds_test[:,5:20]),axis = 1)
y_test = ds_test[:,4]

In [6]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X,y)

In [7]:
y_pred = reg.predict(X)
temp = np.abs(y_pred - y)
temp.sum()/len(temp)

5.329332883675776

In [8]:
y_pred = reg.predict(X_test)
temp = np.abs(y_pred - y_test)
temp.sum()/len(temp)

5.365419799809714

In [9]:
df_bmi_na.bmi = reg.predict(np.concatenate((df_bmi_na.values[:,0:4],df_bmi_na.values[:,5:20]),axis = 1))
df2 = pd.concat([df1, df_bmi_na])
df2

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,...,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,Residence_type_Rural,Residence_type_Urban
0,0.931846,0,1,2.500974,36.600000,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,1
2,1.673346,0,1,-0.056516,32.500000,1,0,0,1,0,...,0,1,0,0,1,0,0,1,1,0
3,-0.094846,0,0,1.303993,34.400000,1,0,0,1,0,...,0,0,1,1,0,0,0,1,0,1
4,1.616307,1,0,1.364196,24.000000,1,0,0,0,1,...,0,1,0,1,0,0,0,1,1,0
5,1.730384,0,0,1.616050,29.000000,1,0,0,1,0,...,1,0,0,0,1,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5039,-0.551154,0,0,-0.801661,28.908675,0,0,0,1,0,...,1,0,0,0,1,0,1,0,1,0
5048,-0.608193,0,0,1.718958,32.961869,0,0,0,1,0,...,0,0,1,0,1,0,0,1,0,1
5093,-0.323000,1,0,-0.283580,33.366133,0,1,0,0,0,...,0,0,1,1,0,0,0,1,1,0
5099,-0.608193,0,0,-0.514394,30.698684,0,0,0,1,0,...,0,0,1,0,1,0,0,1,1,0
5105,1.673346,1,0,-0.518352,31.786700,0,0,0,1,0,...,0,1,0,1,0,0,0,1,0,1

In [10]:
df2.isnull().sum()

age                               0
hypertension                      0
heart_disease                     0
avg_glucose_level                 0
bmi                               0
stroke                            0
work_type_Govt_job                0
work_type_Never_worked            0
work_type_Private                 0
work_type_Self-employed           0
smoking_status_Unknown            0
smoking_status_formerly smoked    0
smoking_status_never smoked       0
smoking_status_smokes             0
gender_Female                     0
gender_Male                       0
gender_Other                      0
ever_married_No                   0
ever_married_Yes                  0
Residence_type_Rural              0
Residence_type_Urban              0
dtype: int64

In [11]:
y_pred = reg.predict(X_test)
print(np.min(np.abs(y_pred - y_test)), np.max(np.abs(y_pred - y_test)), np.mean(np.abs(y_pred - y_test)))
print(np.min(np.abs(df_test.bmi - df.bmi.dropna().mean())), np.max(np.abs(df_test.bmi - df.bmi.dropna().mean())),
     np.mean(np.abs(df_test.bmi - df.bmi.dropna().mean())))

0.0015664246986517583 38.715880343904615 5.365419799809714
0.006078724464366303 41.40607872446437 5.530866810497012